<template>
  <b-container fluid="md" class="mt-5">

    <b-alert v-model="alert" variant="danger" dismissible>
      {{ this.message }}
    </b-alert>

    <b-row>
      <b-col md="4">
        <b-jumbotron header="Select City" class="head">
          <b-container>
            <b-row class="justify-content-between mt-3">
              <b-col cols="10" class="pl-0">
                <v-select 
                  v-model="cityName" 
                  @input="fetchCurrentWeather()" 
                  label="name" 
                  :options="this.cities" 
                  :reduce="country => country.name"
                >
                </v-select>
              </b-col>
              <b-col cols='2' class="px-0 text-right">
                <b-button variant="outline-primary" @click="fetchWeather()">Save</b-button>
              </b-col>
            </b-row>         
          </b-container>
        </b-jumbotron>

        <div class="current">
          <h5 class="text-center mb-0">Your saved cities</h5>
          <b-carousel
            id="carousel-fade"
            style="text-shadow: 0px 0px 0px #000; color: black; border-radius: 5px"
            fade
            indicators
            controls
            img-width="1024"
            img-height="200"
            :key="this.carouselKey"
          >
            <b-carousel-slide
              v-for="(weather, index) in computedWeathers"
              :key="index"
              style='background-color: #FFDFD3; padding: 3rem; border-radius: 5px'
            >
            <template #img>
              <div class="text-center saved p-2" @click="setCurrentWeather(weather)" style="cursor: pointer">
                <img :src='weather.currentWeatherIconUrl' />
                <h5 style="text-shadow: 0px 0px 0px #000; color: black">{{ weather.name }}</h5>
                <p>{{ weather.weather[0].description }}</p>
                <b-button variant="outline-danger" size="sm" @click="removeSaved(index)">remove</b-button>
              </div>
            </template>

            <template #caption>
            </template>
            </b-carousel-slide>
          </b-carousel>
          </div>
      </b-col>
      
      <b-col col lg='8' md='8' sm="12">
        <b-card
          style="background-color: #FDDFDF; border: none"
          align="left"
          class="mb-3"
        >   
          <b-spinner 
            v-if="loading" 
            variant="light" 
            style="width: 10rem; height: 10rem;" 
            type="grow" 
            label="Spinning">
          </b-spinner>
          <b-container fluid v-if="this.currentWeather.weather">
            <b-row>
              <b-col col lg="5" md="12" sm="12" class="text-center">
                <h3>{{ this.currentWeather.name }}</h3>
                <p>
                  {{ moment(this.currentWeather.weather[0].dt_txt).utcOffset(0, true).format('LL') }}
                  {{ moment(this.currentWeather.weather[0].dt_txt).utcOffset(0, true).format('HH:MM') }}
                </p>
                <img :src='this.currentWeather.currentWeatherIconUrl' />
                <h5>{{ this.currentWeather.weather[0].description }}</h5>
              </b-col>
              
              <b-col col lg="4" md="12" sm="12" class="text-right">
                <div class="weather-dets">  
                  <p>temperature is
                    <b-badge variant="light">
                      <h5 class="mb-0">{{ this.currentWeather.main.temp.toFixed(0) }} °C</h5>
                    </b-badge>    
                  </p>
                  <p>feels like 
                    <b-badge variant="info">
                      <h5 class="mb-0">{{ this.currentWeather.main.feels_like.toFixed(0) }} °C</h5>
                    </b-badge>    
                  </p>
                  <p>humidity is                  
                    <b-badge variant="primary"><h5 class="mb-0">{{ this.currentWeather.main.humidity.toFixed(0) }} %</h5></b-badge>
                  </p>
                </div>
              </b-col>

              <b-col col lg="3" md="12" sm="12">
                <b-button 
                  variant="outline-primary" 
                  class="w-100" 
                  @click="fetchWeatherByCoords()"
                >
                  Use current location
                </b-button>
              </b-col>
            </b-row>
          </b-container>

            <h3 class="mb-3 text-right">5-day forecast</h3>
            <b-card-group :key="this.carouselKey">
              <b-card 
                v-for="(item, index) in currentWeather.forecast" 
                :key="index" 
                align="center"
                class="forecasts"
              >
                <img :src='item.currentWeatherIconUrl' style="width: 5rem" />
                <p>{{ item.weather[0].description }}</p>

                <template #header>
                  <p>{{ moment(item.dt_txt).utcOffset(0, true).format('LL') }}</p>
                  <p class="mb-0">{{ moment(item.dt_txt).utcOffset(0, true).format('LT') }}</p>
                </template>
                <template #footer>
                  <div class="weather-dets pt-auto" style="height: 5rem">
                    <b-badge variant="dark"> {{ item.main.temp.toFixed(0) }} °C</b-badge><br>
                    <b-badge variant="info"> {{ item.main.feels_like.toFixed(0) }} °C</b-badge><br>
                    <b-badge variant="primary"> {{ item.main.humidity.toFixed(0) }} %</b-badge>
                  </div>                  
                </template>
              </b-card>
            </b-card-group>
            <p class="text-muted mt-2 mb-0 text-right">
              <small>Last updated: {{ moment().startOf('day').toDate() }}</small>
            </p>
        </b-card> 

      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import moment from 'moment'

export default {
  data: function () {
    return { 
      cities: [],
      cityName: 'Kuala Lumpur',
      currentWeather: {},
      currentLocationWeather: {},
      weathers: [],
      slide: 0,
      carouselKey: 0,
      alert: false,
      message: '',
      moment: moment,
      loading: false,
      apiKey: '5085a4621b4c03015dbcaa904fd64b12'
    }
  },
  mounted() {
    this.fetchSomething()
    this.fetchCurrentWeather()
  },
  methods: {
    async fetchSomething() {
      const ip = await this.$axios.$get('/countries.json')
      this.ip = ip
      this.cities = ip
    },
    setCurrentWeather(i){
      this.cityName = i.name
      this.fetchCurrentWeather()
    },
    async fetchCurrentWeather() {
      const ip = await 
        this.$axios.$get(`https://api.openweathermap.org/data/2.5/weather?q=${this.cityName}&appid=${this.apiKey}&units=metric`)
        .then(i => {
          i.currentWeatherIconUrl = `https://openweathermap.org/img/wn/${i.weather[0].icon}@2x.png`
          this.currentWeather = i
          this.carouselKey++
        })
        .catch(r => {
          console.log(r)
        })
      this.fetchWeatherForecast()
    },
    async fetchWeather() {
      const ip = await 
        this.$axios.$get(`https://api.openweathermap.org/data/2.5/weather?q=${this.cityName}&appid=${this.apiKey}&units=metric`)
        .then(i => {
          i.currentWeatherIconUrl = `https://openweathermap.org/img/wn/${i.weather[0].icon}@2x.png`
          this.addWeather(i)
          this.carouselKey++
        })
        .catch(r => {
          console.log(r)
        })
    },
    async fetchWeatherForecast() {
      const ip = await 
        this.$axios.$get(`https://api.openweathermap.org/data/2.5/forecast?q=${this.currentWeather.name}&appid=${this.apiKey}&units=metric`)
        .then(i => {
          this.currentWeather.forecast = i.list.filter((i, index) => index%8 == 0).map((i, index) => {
            let obj = {}
            obj.main = i.main
            obj.dt_txt = i.dt_txt
            obj.weather = i.weather
            obj.wind = i.wind
            obj.currentWeatherIconUrl = `https://openweathermap.org/img/wn/${i.weather[0].icon}@2x.png`
            return obj
          })
          this.carouselKey++
        })
        .catch(r => {
          console.log(r)
        })
    },
    async fetchWeatherByCoords() {
      if(this.location.coords){
          this.$axios.$get(`https://api.openweathermap.org/data/2.5/weather?lat=${this.location.coords.latitude}&lon=${this.location.coords.longitude}&appid=${this.apiKey}&units=metric`)
        .then(i => {
          i.currentWeatherIconUrl = `https://openweathermap.org/img/wn/${i.weather[0].icon}@2x.png`
          this.currentWeather = i
                this.fetchWeatherForecast()
        })
        .catch(r => {
          console.log(r)
        })
      }else{
        this.loading = true
        this.currentWeather = {}
        this.locateMe().then(i => {
          if(this.location){
            this.fetchWeatherByCoords()
            this.loading = false
          }
        }).catch(i => {
          this.loading = false
        })
      }
    },
    async getLocation() {
      return new Promise((resolve, reject) => {
        if(!("geolocation" in navigator)) {
          reject()
          this.alert = true
          this.message = 'Please check that browser location permissions are enabled!'
        }
        navigator.geolocation.getCurrentPosition(pos => {
          resolve(pos);
        }, err => {
          this.alert = true
          this.message = 'Please check that browser location permissions are enabled!'
          reject();
        });
      });
    },
    async locateMe() {
      this.gettingLocation = true;
      try {
        this.gettingLocation = false;
        let location = await this.getLocation();
        this.$store.commit('weather/addLocation', location)
      } catch(e) {
        this.gettingLocation = false;
        this.errorStr = e.message;
      }
    },
    removeSaved(e){
      this.removeWeather(e)
    },
    addWeather (e) {
      let exist = [...this.computedWeathers].find(i => i.name == e.name)
      if(!exist){
        this.$store.commit('weather/add', e)
        this.cityName = ''
      }else{
        this.alert = true
        this.message = 'This city exists in your saved collection'
      }
    },
    removeWeather (e) {
      this.$store.commit('weather/remove', e)
    },
  },
  computed: {
    computedWeathers: function () {
      return this.$store.state.weather.list
    },
    location: function () {
      return this.$store.state.weather.location
    }
  }
}
</script>

<style>

  .current {
    background-color: #FFDFD3; 
    padding: 3rem; 
    border-radius: 5px; 
    margin-bottom: 5vh;
  }

  .head{
    padding: 2rem; 
    background-color: #FCF7DE; 
    margin-bottom: 1rem;
  }

  .buttons > button {
    margin: 0.2rem 0rem;
  }

  .weather-dets > p {
    margin-bottom: 0.2rem;
  }

  .saved:hover {
    box-shadow: 2px 2px 14px 13px rgba(62,62,62,0.09);
    -webkit-box-shadow: 2px 2px 14px 13px rgba(62,62,62,0.09);
    -moz-box-shadow: 2px 2px 14px 13px rgba(62,62,62,0.09);
  }

  .forecasts {
    border: none;
  }

  .forecasts > .card-header {
    border-bottom: 0px;
  }

  .forecasts > .card-footer {
    border-top: 0px;
  }
  
</style>
